<div class="top-bar">
  <div>
    <div class="top-bar-left">
      <ul class="vertical medium-horizontal menu">
        <li><a routerLink=""><p>Home</p></a></li>
        <li><a routerLink="members"><p>Members</p></a></li>
        <li><a routerLink="about"><p>About</p></a></li>
      </ul>
    </div>
    <div class="top-bar-right"></div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h1>{{title}}</h1>
    <h5>Think globally, brew locally!</h5>
  </div>
</div>

<router-outlet></router-outlet>
