<div class="top-bar">
  <div class="top-bar-title"><strong>HBC</strong></div>
  <div>
    <div class="top-bar-left">
      <ul class="vertical medium-horizontal menu">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="members">Members</a></li>
        <li><a routerLink="about">About</a></li>
      </ul>
    </div>
    <div class="top-bar-right"></div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h1>{{title}}</h1>
  </div>
</div>

<router-outlet></router-outlet>
