/* You can add global styles to this file, and also import other style files */
p, select {
  font-family: sans-serif !important;
}

select {
  margin-bottom: 0px !important;
}

.menu li a p{
  margin-bottom: 0px;
}
